* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
}

.calc-buttons {
    background-color:grey;
    margin-right: 70px;
    margin-top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    height: 300px;
    width: 250px;
}


.screen {
    background-color: black;
    color: white;
    height: 60px;
    width: 250px;
    text-align: right;
    padding-top: 13px;
    padding-right: 7px;
    font-size: 30px;
}

.buffer {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 4px;
    font-size: 200%;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 3px;
    background-color: rgb(228, 123, 17);
    border-color: orangered;
    
}

.double {
    width: 110px;
}

.triple {
    width: 170px;
}